<h1>Add a new Student</h1>

<p class="alert alert-primary" *ngIf="studentAdded">The new student has been saved.</p>
<p class="alert alert-warning" *ngIf="studentAddedError">An error has occurred while trying to save the student. Please try again.</p>

<form #form="ngForm" (ngSubmit)="onSubmitTemplateBased(form, form.value)">
  <div class="form-row">
    <div class="form-group col-md-6">
        <label>First Name:</label>&nbsp;
        <input class="form-control" type="text" [(ngModel)]="user.firstName" name="firstName">
    </div>
    <div class="form-group col-md-6">
        <label>Last Name:</label>
        <input class="form-control" type="text" [(ngModel)]="user.lastName" name="lastName" required>
    </div>  
    <div class="form-group col-md-6">  
        <label>Email:</label>
        <input class="form-control" type="email" [(ngModel)]="user.email" name="email" required>
    </div>  
    <div class="form-group col-md-6">  
        <label>Major:</label>
        <input class="form-control" type="text" [(ngModel)]="user.major" name="major" required>
    </div>  
    <div class="form-group col-md-6">    
        <label>Average Grade:</label>
        <input class="form-control" type="number" [(ngModel)]="user.averageGrade" name="averageGrade" required>
    </div> 
  
  </div>  

  <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
  
</form>